:root {
  --header-height: 4rem;
  --screen-width: 40rem;
}

html {
  height: 100%;
}
html body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  padding-top: var(--header-height);
  box-sizing: border-box;
}
@supports (display: grid) {
  html body {
    display: grid;
    grid-template-rows: var(--header-height) auto fit-content(8rem);
    grid-template-areas: "header" "main" "footer";
    padding-top: 0;
    height: 100%;
  }
}
html body header {
  z-index: 100;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}
html body header .logo {
  width: calc(var(--header-height) - 1rem);
  height: calc(var(--header-height) - 1rem);
  padding: 0;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
html body header form {
  height: calc(var( --header-height) - 2rem);
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body header form .form-group {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}
html body header form .form-group input {
  border: 1px solid #949393;
  padding: 0 1%;
}
html body header form .form-group .form-control {
  width: 86%;
  height: 93%;
}
html body header form .form-group .search-btn {
  width: auto;
  height: 100%;
  padding: 1%;
  font-weight: 600;
  color: #666565;
  background-color: #d4d1d1;
  border: 1px solid #949393;
  cursor: pointer;
}
html body header form .form-group .search-btn:hover {
  background-color: #949393;
  border: 1px solid #949393;
  color: #f1f1f1;
}
html body main {
  grid-area: main;
  padding: 3% 3%;
}
html body main .video {
  width: 100%;
  padding: 2rem 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body main .video iframe {
  width: 90%;
  height: 500px;
}
html body main .video .btn {
  background-color: white;
  color: black;
  width: var(--header-height);
  padding: var(--header-height) calc(var( --header-height) + 2rem);
  margin: calc(var( --header-height) - 2rem);
}
html body main .quiz-body {
  height: calc(100vh - var(--header-height));
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
html body main .quiz-body .quiz-container {
  width: 80%;
  padding: 1%;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
@media (min-width: 40rem) {
  html body main .quiz-body .quiz-container {
    width: 60%;
  }
}
html body main .quiz-body .quiz-container .question-container .question {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  text-align: center;
  margin: 1%;
}
html body main .quiz-body .quiz-container .question-container .btn-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body main .quiz-body .quiz-container .question-container .btn-grid .btn {
  color: white;
  background-color: black;
  border: 1px solid white;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  width: 60%;
  margin: 1%;
  padding: 2%;
}
html body main .quiz-body .quiz-container .question-container .btn-grid .btn:hover {
  border-color: black;
}
html body main .quiz-body .quiz-container .question-container .btn-grid .btn.correct {
  border: none;
  background-color: green;
}
html body main .quiz-body .quiz-container .question-container .btn-grid .btn.wrong {
  border: none;
  background-color: red;
}
html body main .quiz-body .quiz-container .controls {
  justify-content: center;
  align-items: center;
  display: flex;
}
html body main .quiz-body .quiz-container .controls .btn {
  background-color: black;
  color: white;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}
html body main .quiz-body .quiz-container .controls .btn:hover {
  background-color: white;
  color: black;
}
html body main .quiz-body .quiz-container .controls .btn.correct {
  background-color: green;
}
html body main .quiz-body .quiz-container .controls .btn.wrong {
  background-color: red;
}
html body main .quiz-body .quiz-container .controls .btn .cancel-btn, html body main .quiz-body .quiz-container .controls .btn .next-btn, html body main .quiz-body .quiz-container .controls .btn .enjoy-btn {
  padding: 10px 20px;
  font-size: 1.7rem;
  font-weight: bold;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
html body main #invisible {
  position: fixed;
  display: none;
  width: 560px;
  height: 260px;
  background-color: red;
  opacity: 0;
}
html body main .videos article {
  height: 100px;
  margin-bottom: 2%;
  display: flex;
}
@media (min-width: 25rem) {
  html body main .videos article {
    height: 130px;
  }
}
@media (min-width: 40rem) {
  html body main .videos article {
    height: 190px;
  }
}
@media (min-width: 55rem) {
  html body main .videos article {
    height: 280px;
  }
}
html body main .videos article .thumb {
  flex: 1;
  height: 100%;
}
html body main .videos article .thumb img {
  height: 100%;
  display: block;
  margin: auto;
}
html body main .videos article .details {
  flex: 1;
  display: flex;
  justify-content: center;
}
html body main .videos article .details .description {
  width: 90%;
}
html body main .videos article .details .description h1 {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 25rem) {
  html body main .videos article .details .description h1 {
    font-size: 1rem;
  }
}
@media (min-width: 40rem) {
  html body main .videos article .details .description h1 {
    font-size: 1.5rem;
  }
}
@media (min-width: 55rem) {
  html body main .videos article .details .description h1 {
    font-size: 2rem;
  }
}
html body main .videos article .details .description p {
  display: none;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 40rem) {
  html body main .videos article .details .description p {
    display: none;
  }
}
@media (min-width: 55rem) {
  html body main .videos article .details .description p {
    display: block;
  }
}
html body footer {
  grid-area: footer;
}

/*# sourceMappingURL=style.css.map */
