:root {
  --header-height: 3rem;
  --screen-width: 40rem;
}

html {
  height: 100%;
}
html body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@supports (display: grid) {
  html body {
    display: grid;
    grid-template-rows: 3.5rem auto fit-content(8rem);
    grid-template-areas: "header" "main" "footer";
    padding-top: 0;
    height: 100%;
  }
}
html body header {
  z-index: 105;
  padding: 1% 3%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  background: white;
}
@media (max-width: 40rem) {
  html body header {
    flex-direction: column;
  }
}
html body header .left_header {
  display: flex;
  align-items: center;
}
@media (max-width: 40rem) {
  html body header .left_header {
    width: 100%;
    justify-content: space-between;
    padding: 1% 1%;
  }
}
html body header .left_header .toggle-button {
  width: 30px;
  height: 25px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 103;
}
html body header .left_header .toggle-button span {
  width: 100%;
  height: 3px;
  background-color: black;
  transform-origin: left;
  transition: all 1s ease;
}
html body header .left_header .toggle-button.active span:first-child {
  transform: rotate(45deg);
}
html body header .left_header .toggle-button.active span:nth-child(2) {
  opacity: 0;
}
html body header .left_header .toggle-button.active span:last-child {
  transform: rotate(-45deg);
}
html body header .left_header .main-header__brand {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.7rem;
  margin-left: 2rem;
}
html body header .center_header {
  margin-left: 10%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 40rem) {
  html body header .center_header {
    margin: 2% 0;
    width: 100%;
    height: 2rem;
  }
}
html body header .center_header form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
html body header .center_header form input {
  border: 1px solid #949393;
  padding: 0 1%;
  border-radius: 0.2rem;
  width: 100%;
  height: 100%;
}
html body header .center_header form .search-btn {
  padding: 0;
  margin: 0;
  border: none;
  position: absolute;
  right: 0;
  font-weight: 400;
  background-color: transparent;
  cursor: pointer;
}
html body header .center_header form .search-btn i {
  padding: 0.5rem;
  color: #818080;
}
html body header .center_header form .search-btn i:hover {
  color: #383838;
}
html body header .center_header .mic {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #f6f6f6;
  color: black;
}
html body header .right_header {
  padding-right: 2.4rem;
  display: flex;
  justify-content: end;
  align-items: center;
}
html body header .right_header .login {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background-color: darkblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  background-color: black;
  opacity: 0.4;
  width: 100vw;
  height: 100vh;
  z-index: 102;
}
html body .main-nav {
  transform: translateX(-120%);
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 103;
}
@media (max-width: 40rem) {
  html body .main-nav {
    width: 60%;
  }
}
html body .main-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
html body .main-nav ul li {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body .main-nav ul li a {
  text-decoration: none;
  font-size: 2rem;
  color: black;
}
html body .main-nav ul li a:hover {
  font-weight: bold;
}
@media (min-width: 55rem) {
  html body .main-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    height: 100%;
    margin-right: 1rem;
  }
}
html body main {
  background-color: #f6f6f6;
  grid-area: main;
  padding: 1% 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 40rem) {
  html body main {
    padding-top: 15%;
  }
}
html body main .aboutus {
  text-align: center;
  width: 60vw;
}
@media (max-width: 40rem) {
  html body main .aboutus {
    width: 80vw;
  }
}
html body main .aboutus p {
  text-align: justify;
  font-size: 1.2rem;
}
html body main .feedback {
  margin-top: 1rem;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-self: center;
}
@media (min-width: 55rem) {
  html body main .feedback {
    width: 40vw;
  }
}
html body main .feedback label {
  width: 100%;
}
html body main .feedback input {
  width: 100%;
  margin: 1rem 0;
}
html body main .feedback textarea {
  width: 100%;
  height: 5rem;
  margin: 1rem 0;
}
html body main .feedback button {
  padding: 0.5rem;
  font-weight: bold;
}
html body main .video {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body main .video iframe {
  width: 80%;
  height: 350px;
}
@media (max-width: 40rem) {
  html body main .video iframe {
    height: 250px;
    width: 100%;
  }
}
html body main .controls {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body main .controls .btn {
  background-color: white;
  color: black;
  width: 6rem;
  padding: 3%;
  margin: 5%;
}
html body main .quiz-body {
  height: calc(100vh - var(--header-height));
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
html body main .quiz-body .quiz-container {
  background-color: black;
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 55rem) {
  html body main .quiz-body .quiz-container {
    width: 60%;
    height: 80%;
  }
}
html body main .quiz-body .quiz-container .instruction {
  height: 10%;
  margin-bottom: 2%;
  font-size: 1rem;
  color: white;
  font-family: "Roboto", sans-serif;
}
html body main .quiz-body .quiz-container .question-container {
  border: 2px solid white;
  border-radius: 8px;
  padding: 3% 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body main .quiz-body .quiz-container .question-container .question {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
  color: white;
  margin-top: 0;
}
@media (min-width: 55rem) {
  html body main .quiz-body .quiz-container .question-container .question {
    font-size: 1.3rem;
  }
}
html body main .quiz-body .quiz-container .question-container .btn-grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 55rem) {
  html body main .quiz-body .quiz-container .question-container .btn-grid {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: repeat(2, auto);
  }
}
html body main .quiz-body .quiz-container .question-container .btn-grid .btn {
  color: white;
  background-color: black;
  border: 1px solid white;
  outline: none;
  font-size: 1.5rem;
  width: 70%;
  padding: 5%;
  margin-bottom: 2%;
}
@media (min-width: 55rem) {
  html body main .quiz-body .quiz-container .question-container .btn-grid .btn {
    font-size: 1.3rem;
    width: 10rem;
    min-height: 3rem;
    padding: 5%;
  }
}
html body main .quiz-body .quiz-container .question-container .btn-grid .btn:hover {
  border-color: black;
}
html body main .quiz-body .quiz-container .question-container .btn-grid .btn.correct {
  border: none;
  background-color: green;
}
html body main .quiz-body .quiz-container .question-container .btn-grid .btn.wrong {
  border: none;
  background-color: red;
}
html body main .quiz-body .quiz-container .question-container .incorrectMessage {
  font-size: 1.3rem;
  color: #ee0303;
  text-align: center;
}
html body main .quiz-body .quiz-container .controls {
  padding: 2%;
  display: flex;
  justify-content: center;
}
html body main .quiz-body .quiz-container .controls .btn {
  color: white;
  background-color: black;
  border: 1px solid white;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  width: 5rem;
  height: 3rem;
  margin-right: 4%;
}
html body main .quiz-body .quiz-container .controls .btn:hover {
  background-color: white;
  color: black;
}
html body main .quiz-body .quiz-container .controls .btn.correct {
  background-color: green;
}
html body main .quiz-body .quiz-container .controls .btn.wrong {
  background-color: red;
}
html body main .quiz-body .quiz-container .controls .btn .cancel-btn, html body main .quiz-body .quiz-container .controls .btn .next-btn, html body main .quiz-body .quiz-container .controls .btn .enjoy-btn {
  padding: 10px 20px;
  font-size: 1.7rem;
  font-weight: bold;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
html body main #invisible {
  position: fixed;
  display: none;
  width: 560px;
  height: 260px;
  background-color: red;
  opacity: 0;
}
html body main .videos article {
  height: 100px;
  margin-bottom: 2%;
  display: flex;
}
@media (min-width: 25rem) {
  html body main .videos article {
    height: 130px;
  }
}
@media (min-width: 40rem) {
  html body main .videos article {
    height: 190px;
  }
}
@media (min-width: 55rem) {
  html body main .videos article {
    height: 280px;
  }
}
html body main .videos article .thumb {
  flex: 1;
  height: 100%;
}
html body main .videos article .thumb img {
  height: 100%;
  display: block;
  margin: auto;
}
html body main .videos article .details {
  flex: 1;
  display: flex;
  justify-content: center;
}
html body main .videos article .details .description {
  width: 90%;
}
html body main .videos article .details .description h1 {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 25rem) {
  html body main .videos article .details .description h1 {
    font-size: 1rem;
  }
}
@media (min-width: 40rem) {
  html body main .videos article .details .description h1 {
    font-size: 1.5rem;
  }
}
@media (min-width: 55rem) {
  html body main .videos article .details .description h1 {
    font-size: 2rem;
  }
}
html body main .videos article .details .description p {
  display: none;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 40rem) {
  html body main .videos article .details .description p {
    display: none;
  }
}
@media (min-width: 55rem) {
  html body main .videos article .details .description p {
    display: block;
  }
}
html body footer {
  grid-area: footer;
}

/*# sourceMappingURL=style.css.map */
